/* FONTS */

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v36/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* VARIABELEN */
:root {
  --kleur-zwart: black;
  --kleur-grijs: #cac6c7;
  --kleur-wit: white;
  --kleur-transparant: transparent;
  --kleur-oranje: rgb(255, 146, 30);
}

/* ALGEMEEN */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
}

.container--narrow {
  max-width: 63rem;
  margin-block-start: 3rem;
  margin-block-end: 3rem;
}

.container--grey {
  background-color: var(--kleur-grijs);
}

/* EINDE ALGEMEEN */

/* HEADER */

header {
  position: relative;
}

header nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-inline-end: 1.5rem;
  padding-block-start: 0.3rem;
}

header nav.menu .logo {
  inline-size: 4rem;
  block-size: 3.7rem;
  margin-inline-start: 1rem;
}

header nav.menu ul li {
  list-style: none;
}

header nav.menu ul li a {
  color: var(--kleur-zwart);
  text-decoration: none;
  font-weight: 600;
}

header .nav-menu .nav-link:hover {
  color: var(--kleur-transparant);
}

header button.hamburger .bar {
  display: block;
  inline-size: 1.5625rem;
  block-size: 0.19rem;
  margin: 0.31rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--kleur-zwart);
}

header button.hamburger {
  display: block;
  border: 0;
  background-color: var(--kleur-wit);
  cursor: pointer;
}
header button.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
header button.hamburger.active .bar:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
}
header button.hamburger.active .bar:nth-child(3) {
  transform: translateY(-0.5rem) rotate(-45deg);
}
header .nav-menu {
  position: fixed;
  left: -100%;
  top: 4.3rem;
  gap: 0;
  flex-direction: column;
  /* background-color: #262626; */
  inline-size: 100%;
  text-align: center;
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 0.9rem;
}
header .nav-menu .nav-item.active {
  margin: 1rem 0;
}
header .nav-menu.active {
  left: 0;
}

header picture img {
  width: 100%;
}

/* header picture {

} */

header .usps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  /* bottom: 3rem; */
  left: 0;
  right: 0;
}

header .usps .usp {
  inline-size: 100%;
  block-size: auto;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 1rem #0000001c;
  padding: 1.5rem;
}

header .usps .usp h3 {
  margin-block-end: 1rem;
}

header .usps .usp button.usp_button,
header section.hero-section button,
main section.section_two .read .read_button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1rem 0 0.3rem 0;
  cursor: pointer;
  border-radius: 16px;
}

header section.hero-section {
  position: absolute;
  top: 8rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  inline-size: 15rem;
}
header section.hero-section h1 {
  font-size: 3rem;
}
header section.hero-section p {
  margin-bottom: 1.5rem;
}
/* EINDE HEADER */

/* MAIN */
main section.section_one {
  display: flex;
  /* flex-direction: column; */
  padding: 0 2rem 0 2rem;
  justify-content: center;
}

.img_middle img {
  inline-size: 100%;
  margin: 2rem 0 2rem 0;
}

main section.section_two {
  inline-size: 100%;
}

main section.section_two .grey_container,
main section.section_three .white_container {
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
  justify-content: center;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  header button.hamburger {
    display: none;
  }

  header .nav-menu {
    display: flex;
    position: static;
    background-color: transparent;
    inline-size: auto;
    text-align: left;
    flex-direction: row;
    gap: 2rem;
  }

  header .nav-menu ul {
    display: flex;
  }

  header .nav-menu.active {
    left: 0;
    position: static;
    background-color: transparent;
    inline-size: auto;
    text-align: left;
  }

  header section.hero-section {
    position: absolute;
    top: 13rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    inline-size: 100%;
  }
  header section.hero-section h1 {
    font-size: 3rem;
  }
  header section.hero-section p {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 900px) {
  header .usps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    inline-size: 100%;
  }

  header .usps .usp {
    inline-size: 18rem;
    block-size: auto;
    background-color: white;
    box-shadow: 0.5rem 0.5rem 1rem #0000001c;
    padding: 1.5rem;
  }

  header .usps .usp h3 {
    margin-block-end: 1rem;
  }

  /* main {
    display: flex;
    justify-content: center;
  } */

  .img_middle img {
    inline-size: 18rem;
    margin: 0;
  }

  main .section_one {
    gap: 3rem;
  }

  main section.section_two {
    inline-size: 100%;
    /* display: flex;
    justify-content: center; */
  }

  main section.section_three {
    display: flex;
    justify-content: center;
  }

  main section.section_one .white_container,
  main section.section_three .white_container {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    gap: 3rem;
  }

  main section.section_two.container--grey {
    background-color: var(--kleur-grijs);
    display: flex;
    justify-content: center;
  }

  main section.section_two .grey_container {
    inline-size: 100%;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }

  main section.section_three .img_middle,
  main section.section_three .text_right {
    flex: 1;
  }

  main section.section_three .img_middle img {
    object-fit: cover;
    inline-size: 100%;
  }

  main section.section_three .text_right {
    padding: 0 15px;
    box-sizing: border-box;
  }

  footer.section_footer {
    display: flex;
    justify-content: center;
  }

  footer .grey_container.container--narrow {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }

  footer .widget.widget_one {
    flex: 4;
  }

  footer .widget.widget_two,
  footer .widget.widget_three,
  footer .widget.widget_four {
    flex: 1;
  }
}

/* EINDE MEDIA QUERIES */
